@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Remove all default padding and margin */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* General stying */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles*/
    color: #3a3a3a;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;

    font-style: normal;
    color: #582f0e;
}
.main-content, .main-content-green {
    padding: 1rem;    
}
.main-content h1, h2, h3 {
    padding-bottom: 10px;
    text-align: center;
}
.main-content p {
    /* margin-bottom: 10px; */
    margin: 0 1rem 10px 1rem;
}
.main-content-green p {
    /* margin-bottom: 10px; */
    margin: 0 1rem 10px 1rem;
}

/* happens on all pages now, need to tink on this one */
/* .main-content p:last-child  {
    padding-top: 20px;
    text-align: center;
} */

.main-content-green {
    /* background-color: #DAE5D2; */
    /* needed a lighter touch on the background */
    background-color: #f6f9f4;
}

.add-space-top-20 {
    margin-top: 20px;
}
.add-space-bottom-10 {
    margin-bottom: 10px;
}
.margin-20 {
    margin: 20px;
}

/* classes to use instead of headers in places needed */
.logo-heading, .hero-heading, .hero-sub-heading  {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    color: #582f0e;
}
.logo-heading {
    font-size: 2rem; /* 32px */
}
.hero-heading {
    font-size: 3rem; /* 48px */ 
    padding-bottom: 1rem;
}
.hero-sub-heading {
    font-size: 1.5rem; /* 24px */
    padding-bottom: 3.75rem; /* 60px */
}

/* buttons */
.button-white {
    background-color:#ffffff;
    color: #582f0e;
    text-decoration: none;
    border: 1px solid #582f0e; 
    border-radius: 10px;
    padding: 10px;
}
.button-align-right {
    float: inline-end;
}

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a4a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: #3a3a3a;
}

/* navigation bar */
/* Navbar with dropdown toggle */
#menu {
    padding: 0;
    letter-spacing: 1px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 0.5em;
    
}
.active {
    /* border-bottom: 1px solid #3a3a3a; */
    text-decoration: underline;
    /* text-decoration-style: dashed; */
}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a4a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color:#582f0e;
}
/* Main section */
main {
    /* make main element fill all surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    /* background-color: #fffbf6; */
    /* padding-bottom: 20px; */
}

#hero {
    height: 70vh;
    width: 100%;
    min-height:300px; /* to prevent overlapping */
    background: url(../images/garden-backgrounds.webp) no-repeat center bottom / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text {
    position: absolute;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 20px 50px 20px;
    margin: 0 20px;
    text-align: center;
}

.testimonials {
    margin: 0;
}
.testimonials h2 {
    color: #072B07;
    font-size: 1.5rem;
    text-align: center;
}
/* testimonial grid layout */
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: auto auto; */
    gap: 1.5rem;
    padding-block: 1rem 0; 
}
/* testimonial card layout */
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}
.card-image-holder {
    border-radius: 10px 10px 0 0;
}
.card-image {
    width: 100%; 
    border-radius: 10px 10px 0 0; 
    margin: 0 auto;
}
.card-text-holder {
    flex: 1 0 auto;
    background-color: #ffffff;
    padding: 0.5rem 0;

    /* border: aquamarine solid 3px; */

    /* padding: 15px; */
}
.card-text {
   margin: 0;
    }
.card-text-footer {
    padding: 15px;
    font-style: italic;
}


/* Guide page */
#guide-heading-image {
    background: url(../images/garlic-watering-1200.webp) no-repeat center bottom / cover;
    height: 325px;
    width: 100%;
}
/* .guide {
    margin: 20px;
    padding:15px;
}
.guide p { 
    padding-bottom: 15px;
} */

/* Setting up grid for step guide */
.guide-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 0 2rem;
    /* width: min(95%, 70rem); */
    margin-inline: auto;
}
.guide-image, .guide-text {
    margin: auto;
}
/* .guide-text {
    padding: 0 20px;
}
.guide-text p {
    padding-bottom: 10px;
} */
.guide-image img {
    width: 100%
    /* width: -moz-available; */
}
/* Contact page */
.contact {
    background-color: #f6f9f4;
    padding-bottom: 20px;
    /* height: 80vh; */
}
.contact-form {
    /* position: absolute; */
    /* width: 90%; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.95); */
     /* rgba(255, 255, 255, 0.85); */
    /* padding: 20px 20px 50px 20px; */
    margin: 0 1rem;
    /* text-align: center; */
}

.text-input-field, .textarea-input-field {
    /* color: green; */
    /* height: 1.5rem;
    width: 100%; */

    
  line-height:1.23536;
  font-weight:400;
  letter-spacing:-.022em;
  width:100%;
  height:2.5rem;
  border-radius: 10px;
  /* box-sizing:border-box; */
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align:left;
  appearance:none;
  border:1px solid

}
.textarea-input-field {
    /* color: green; */
    /* height: 1.5rem; */
    /* width: 100%; */
    height: auto;

}
/* Footer */
#social-networks {
    /* margin-top: 20px; */
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:  #582f0e; 
    color: #ffffff;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

/* Media query for large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* testimonial section */
    .card-image-holder {
        /* width: 90%; */
        overflow: hidden;
    }
}
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-right: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    /* Main */
     main {
        margin-top: 76px;
        /* margin-top: 4.8rem; */
    }
    .main-content, .main-content-green {
        padding: 2em;
    }

    /* Guide grid  */
       /* Setting up a two column grid */
    .guide-grid {
        grid-template-columns: 1fr 3fr;
        row-gap: 3rem;
        column-gap: 1.5rem;
    }
        .guide-text {
        margin: 0;
    }
        .guide-text {
        /* margin: auto; */
        padding: 0;
    }

    /* testimonial section */
    .testimonial-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-block: 2rem 0; 
    }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
     /* Header */
     #menu a:hover {
        text-decoration:underline;
    }  
    /* Hero, start page */
    #hero {
        height: 80vh;
        background: url(../images/garden-backgrounds.webp) no-repeat center bottom / cover;
    }
    .hero-text {
        position: absolute;
        width: 50%;
        left: 50%;
        border-radius: 0;
        padding-top: 150px;
        margin: auto;
        height: 100%;
    }

    /* testimonial section */
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (laptops and desktops,1200px and up) */
@media screen and (min-width: 1200px) {
    /* Main */
    .main-content h1, h2 {
        font-size: 2rem;
    }
    .testimonials h2 {
        color: #072B07;
        font-size: 2rem;
        text-align: center;
    }
    .main-content, .main-content-green {
        margin: 0px auto;  
        max-width: 1200px; 
    }
     /* Guide page */
    .guide-grid {
        /* gap: 1.5rem; */
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: auto auto;
        /* column-gap: 2rem; */
        row-gap: 3rem;
    }
    .guide-image {
        margin: 0;                
    }
    .guide-text {
        margin: 0;
    }
    .guide-text {
        /* margin: auto; */
        padding: 0;
    }
    .guide-image img {
        width: 100%; 
    }
}

