@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Remove all default padding and margin */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* General stying */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;

    font-style: normal;
    color: #582f0e;
}
.main-content, .main-content-green {
    padding: 1rem;    
}
.main-content h1, h2, h3 {
    padding-bottom: 10px;
    text-align: center;
}
.main-content p {
    margin: 0 1rem 10px 1rem;
}
.main-content-green p {
    margin: 0 1rem 10px 1rem;
}
.main-content-green {

    background-color: #f6f9f4;
}
/* Classes for extra space*/
.add-space-top-20 {
    margin-top: 20px;
}
.add-space-bottom-10 {
    margin-bottom: 10px;
}
.margin-20 {
    margin: 20px;
}

/* classes to use instead of headers in places needed */
.logo-heading, .hero-heading, .hero-sub-heading  {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    color: #582f0e;
}
.logo-heading {
    font-size: 2rem;
}
.hero-heading {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.hero-sub-heading {
    font-size: 1rem; 
    padding-bottom: 3.75rem;
}

/* buttons */
.button-white {
    background-color: #ffffff;
    color: #582f0e;
    text-decoration: none;
    border: 1px solid #582f0e; 
    border-radius: 10px;
    padding: 10px;
}
.button-white:focus,
.button-white:hover  {
    background-color: #582f0e;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff; 
    border-radius: 10px;
    padding: 10px;
}
.button-align-right {
    align-self: flex-end;
}

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a4a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: #3a3a3a;
}

/* navigation bar */
/* Navbar with dropdown toggle */
#menu {
    padding: 0;
    letter-spacing: 1px;
    line-height: 2rem;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 0.5em;
}
.active {
    text-decoration: underline;
}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a4a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #582f0e;
}
/* Main section */
main {
    /* make main element fill all surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

.hero {
    height: 70vh;
    width: 100%;
    min-height: 300px; 
    background: url(../images/garden-backgrounds.webp) no-repeat center bottom / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text {
    position: absolute;
    width: 90%;
    border-radius: 10px;
    background-color: #fffffff2;
    padding: 30px 20px 50px 20px;
    margin: 0 20px;
    text-align: center;
}

.testimonials {
    margin: 0;
}
.testimonials h2 {
    color: #072B07;
    font-size: 1.5rem;
    text-align: center;
}
/* testimonial grid layout */
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding-block: 1rem 0; 
}
/* testimonial card layout */
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}
.card-image-holder {
    border-radius: 10px 10px 0 0;
}
.card-image {
    width: 100%; 
    border-radius: 10px 10px 0 0; 
    margin: 0 auto;
}
.card-text-holder {
    flex: 1 0 auto;
    background-color: #ffffff;
    padding: 0.5rem 0;
}
.card-text {
   margin: 0;
    }
.card-text-footer {
    padding: 15px;
    font-style: italic;
}

/* Guide page */
#guide-heading-image {
    background: url(../images/garlic-watering.webp) no-repeat center bottom / cover;
    height: 325px;
    width: 100%;
}
.guide h2 {
    color: #072B07;
    font-size: 1.5rem;
    text-align: center;
}

/* Setting up grid for step guide */
.guide-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 0 2rem;
    margin-inline: auto;
}
.guide-image, .guide-text {
    margin: auto;
}
.guide-image img {
    width: 100%
}

/* Contact page */
.contact {
    padding: 1rem;
}
.contact h1, h2 {
    padding-bottom: 10px;
    text-align: center;
}
.contact-form-font-styling label, input, button, textarea {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-size: 1rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.contact-form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}
.text-input-field, .textarea-input-field {
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: left;
    appearance: none;
    border: 1px solid
}
.textarea-input-field {
    height: auto;
}

/* Footer */
.footer-social {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:  #582f0e; 
    color: #ffffff;
}

.footer-social i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff
}

/* Media query for large or landscape phones (375px and up) */
@media screen and (min-width: 375px) {
    .hero-heading {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .hero-sub-heading {
        font-size: 1.5rem; 
        padding-bottom: 3.75rem;
    }

    .contact-form-buttons {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/* Media query for large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* testimonial section */
    .card-image-holder {
        overflow: hidden;
    }
}
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-right: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    /* Main */
     main {
        margin-top: 76px;
    }
    .main-content, .main-content-green {
        padding: 2em;
    }

    /* Guide grid  */
    /* Setting up a two column grid */
    .guide-grid {
        grid-template-columns: 1fr 3fr;
        row-gap: 3rem;
        column-gap: 1.5rem;
    }
        .guide-text {
        margin: 0;
    }
        .guide-text {
        padding: 0;
    }

    /* testimonial section */
    .testimonial-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-block: 2rem 0; 
    }

    /* Contact form */
    .text-input-field{
        width: 50%;
    }
    .contact-form-buttons {
        align-self: flex-end;
        
    }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
     /* Header */
     #menu a:hover {
        text-decoration:underline;
    }  
    /* Hero, start page */
    #hero {
        height: 80vh;
        min-height: 400px; 
        background: url(../images/garden-backgrounds.webp) no-repeat center bottom / cover;
    }
    .hero-text {
        position: absolute;
        width: 50%;
        left: 50%;
        border-radius: 0;
        padding-top: 150px;
        margin: auto;
        height: 100%;
    }

    /* testimonial section */
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    /* guide grid */
    .guide-grid {
    margin: 20px 0 0 0;
    }

    /* Contact form */
    .contact {
        width: 800px;
        margin: 0 auto;
    }
}

/* Large devices (laptops and desktops,1200px and up) */
@media screen and (min-width: 1200px) {
    /* Main */
    .main-content h1, h2 {
        font-size: 2rem;
    }
    .testimonials h2 {
        color: #072B07;
        font-size: 2rem;
        text-align: center;
    }
    .main-content, .main-content-green {
        margin: 0px auto;  
        max-width: 1200px; 
    }
     /* Guide page */
    .guide-grid {
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: auto auto;
        row-gap: 3rem;
        margin: 0;
    }
    .guide-image {
        margin: 0;                
    }
    .guide-text {
        margin: 0;
    }
    .guide-text {
        padding: 0;
    }
    .guide-image img {
        width: 100%; 
    }
}

